.neon_text{
  color: #fff;
  text-shadow:
    /* White glow */
    0 0 7px #fff;








    animation: pulsate 2.5s infinite alternate;
}

.neon_box{
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,

              inset 0 0 1.3rem #bc13fe;
font-size:clamp(3.5rem, 6rem, 8vw);border-width:thin;border: 0.2rem solid #fff;
  border-radius: 1rem;background-color:pink;margin:0.5%;animation: pulsate 2.5s infinite alternate;

}

.neon_box:hover{
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,

              inset 0 0 1.3rem #bc13fe;
font-size:clamp(3.5rem, 6rem, 8vw);border-width:thin;border: 0.2rem solid #fff;
  border-radius: 1rem;background-color:F6F54D;margin:0.5%;animation: pulsate 2.5s infinite alternate;
}
.neon_box:focus {0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,

              inset 0 0 1.3rem #bc13fe;
font-size:clamp(3.5rem, 6rem, 8vw);border-width:thin;border: 0.2rem solid #fff;
border-radius: 1rem;background-color:pink;margin:0.5%;animation: pulsate 2.5s infinite alternate;
}

